# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# 프론트
project/frontend/node_modules/
project/frontend/.pnp
project/frontend/.pnp.js
project/frontend/coverage
project/frontend/build
project/frontend/.DS_Store
project/frontend/.env.local
project/frontend/.env.development.local
project/frontend/.env.test.local
project/frontend/.env.production.local

project/frontend/npm-debug.log*
project/frontend/yarn-debug.log*
project/frontend/yarn-error.log*

# 백엔드
project/backend/__pycache__/

# 에어플로우
airflow/logs/
airflow/config/
airflow/plugins/
airflow/dags/__pycache__/

.env
__pycache__